
@model Glossary.Web.Models.GlossaryTermViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>
<br/>
        @using (Html.BeginForm("Edit", "Glossary"))
        {
            Html.RenderPartial("_EditGlossaryTerm",Model);
        }

